*~
*.a
*.ccs
*.egg-info
*.la
*.o
*.orig
*.pyc
*.pyo
*.rej
*.so
*.swo
*.swp

.coverage/
.failed
.times
bin/
html/
tmp/
venv/

NEWS.html
conary/constants.py
conary/pysqlite3/build
conary/pysqlite3/embed
conary/pysqlite3/sqlite-*/
conary/sqlite3
