div.formHeader {
    float: left;
    font-weight: bold;
    width: 16%;
}

div.tbHeader {
    font-size: 150%;
    color: white;
    background-color: red;
    font-weight: bold;
}

h2 {
    font-size: 150%;
    color: white;
    background-color: #333399;
    font-weight: bold;
}

td {
    vertical-align: top;
}

hr {
    border: 0px;
    height: 2px;
    color: black;
    background-color: black;
}

tr.header {
    background-color: #dddddd;
    font-weight: bold;
    font-size: 105%;
}

table.user-admin {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
}

table.user-admin thead {
    background-color: #dddddd;
    font-weight: bold;
    font-size: 105%;
}
table.user-admin thead tr {
    border: 1px solid black;
}

table.user-admin thead tr td {
    padding: 6px;
    border: 1px solid gray;
}

table.user-admin tbody tr td {
    padding: 3px;
}

table.user-admin#permissions {
    font-size: 80%;
    width: 100%;
    border: none;
}

table.user-admin#permissions thead {
    background: #eeeeff;
}

table.add-form {
    width: 40%;
    background-color: #eeeeff;
    border: 1px solid black;
}

table.add-form td {
    padding: 4px;
}

table.add-form td#header {
    font-size: 105%;
    font-weight: bold;
}

.odd {
    background: #ffffff;
}

.even {
    background: #eeeeee;
}

pre.error {
    color: red;
}

